
  <form action="/dashboard/addgroup" method="POST">
    <div class="field">
      <label class="label">Lighthouse Collection</label>
      <input class="input" type="text" placeholder="Enter Group Name" name="title">
    </div>
    <button class="button is-link">Add To Collection</button>
  </form>
